In [1]:
import pandas as pd

In [32]:
ld = pd.read_csv("Csci343Project2Orangeout.tab", sep='\t')
print(ld.head())

  is_bankOwned=0 is_bankOwned=1 lotAreaUnits=Acres lotAreaUnits=sqft  \
0     continuous     continuous         continuous        continuous
1            NaN            NaN                NaN               NaN
2            1.0            0.0                1.0               0.0
3            1.0            0.0                1.0               0.0
4            1.0            0.0                1.0               0.0

             yearBuilt              zipcode            longitude  \
0           continuous           continuous           continuous
1                  NaN                  NaN                  NaN
2   0.2012201220122012   0.8484530676455165  0.45906282360983686
3  0.20072007200720074  0.16885159937073937   0.2561880084044061
4  0.19851985198519853  0.04299947561615102   0.2894029695145049

              latitude      pool=0      pool=1  ... event=Pending sale  \
0           continuous  continuous  continuous  ...         continuous
1                  NaN         NaN         NaN  ...                NaN
2  0.11650990188624602         0.0         1.0  ...                0.0
3   0.7240110271366813         1.0         0.0  ...                0.0
4   0.7433753032257614         1.0         0.0  ...                0.0

  event=Price change  event=Sold       price datePostedString     city  \
0         continuous  continuous  continuous           string   string
1                NaN         NaN       class             meta     meta
2                1.0         0.0    799000.0           7/8/20     Adel
3                0.0         0.0   1495000.0           7/8/21  Atlanta
4                0.0         0.0    370100.0           7/2/21   Tucker

             streetAddress                                        description  \
0                   string                                             string
1                     meta                                               meta
2      3203 Massee Post Rd  This beautiful home has all the amenities you ...
3  781 E Morningside Dr NE  "An Outstanding Morningside Residence located ...
4       933 Coach House Dr  Welcome to this beautiful 4 bedroom 2.5 bathro...

            county   Gradient Boosting
0           string          continuous
1             meta                meta
2      Cook County   652214.8957835366
3    Fulton County   1394175.572581645
4  Gwinnett County  386793.62544296146

[5 rows x 42 columns]

In [19]:
ld[['price', 'Gradient Boosting']][2:]

          price   Gradient Boosting
2      799000.0   652214.8957835366
3     1495000.0   1394175.572581645
4      370100.0  386793.62544296146
5      169999.0  141345.00686444686
6      309990.0   345537.8618090215
...         ...                 ...
8184   419900.0   508114.5115774345
8185   144900.0  183951.50483697906
8186   625000.0    621734.660291712
8187   199000.0   300552.9732748373
8188   129900.0  154477.98577509855

[8187 rows x 2 columns]

In [58]:
num = 0
for i in range(2, len(ld)):
#    if(abs(float(ld.loc[i]['price']) - float(ld.loc[i]['Gradient Boosting'])) > 300000):
    if(float(ld.loc[i]['price']) - float(ld.loc[i]['Gradient Boosting']) < -250000):    
        print(ld.loc[i]['streetAddress'] + ", delta: $%.2f" % (float(ld.loc[i]['price']) - float(ld.loc[i]['Gradient Boosting'])))
#         print(ld.loc[i])
#         print()
        num = num + 1
print(num)

5266 Hopewell Church Rd, delta: $-252835.04
0 Jack St SE, delta: $-374435.47
230 Booth Rd SW, delta: $-297459.67
113 Samuel Lyon Way, delta: $-265571.59
707 Prestige Point, delta: $-269398.29
610 Hillpine Dr NE, delta: $-271166.79
655 Coley Oaks Ct, delta: $-254759.69
5109 Vernon Ridge Dr, delta: $-292012.11
740 Moores Mill Rd NW, delta: $-292550.54
255 Helens Manor Dr, delta: $-344532.35
1219 Oakdale Rd NE, delta: $-373123.56
257 Bonds Lake Rd, delta: $-293598.97
53 Dupree Rd, delta: $-252518.06
115 Newcastle Ct, delta: $-255714.61
406 N Ash St, delta: $-275359.60
876 Crest Valley Dr NW, delta: $-360650.50
98 Westbourne Way, delta: $-280761.62
3665 Chattahoochee Summit Dr SE, delta: $-256405.18
18